#img-bg {
    background-image: url('https://i.pinimg.com/564x/76/5f/8c/765f8c7444b82a9e717435ea4c726c66.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}